{% extends "base.html" %}
{% block content %}
 <div class="container-fluid mx-auto">
        <div class="row d-flex justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
                <div class="p-5">
                     <h1>{{header}}</h1>
                </div>
                <div class = "p-5">
                    <a href="{{url_for('download_file', path=path_public_key)}}">Download public key</a>
                </div>
                <div class = "p-5">
                     <a href="{{url_for('download_file', path=path_private_key)}}">Download private key</a>
                </div>
            </div>
        </div>
 </div>
{% endblock %}
