{% extends "base.html" %}
{% block title %}Encrypt file{% endblock %}
{% block content %}
     {% for message in get_flashed_messages() %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
          </button>
          <strong>Warning!  </strong>{{message}}
        </div>
    {% endfor %}
    <div class="container-fluid mx-auto">
        <div class="row d-flex justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
                <div class="p-5">
                     <h1>Encrypt your file</h1>
                </div>
                <form action="#" method="post" class="was-validated" enctype="multipart/form-data">
                    <div class="mb-3">
                      <label for="public_key" class="form-label">Public key (.pub) :</label>
                      <input class="form-control" type="file" id="public_key" name ="public_key" required>
                        <div class="valid-feedback">
                          Looks good!
                         </div>
                         <div class="invalid-feedback">
                            Please upload your public key.
                         </div>
                    </div>
                    <div class="mb-3">
                      <label for="text_file" class="form-label">File (.txt max: 1GB) :</label>
                      <input class="form-control" type="file" id="text_file" name="text_file" required>
                         <div class="valid-feedback">
                          Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please upload your file.
                         </div>
                    </div>
                    <div class="mt-3">
                        <div class="row justify-content-center">
                            <div class="form-group col-sm-6">
                                <button class="btn btn-outline-secondary" type="submit">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}