{% extends "base.html" %}
{% block title %}Home page{% endblock %}
{% block content %}
      <div class="container-fluid mx-auto">
        <div class="row d-flex justify-content-center ">
            <div class="col-4 d-flex justify-content-center allign-items-stretch">
                <div class="card-deck my-3 mx-auto">
                    <div class="card my-4 border-secondary text-center">
                        <a class="stretched-link text-decoration-none" href="{{ url_for('buy_seasontickets') }}"></a>
                        <div class="card-header" style="background-color: #699DFF">
                            <h3> Buy season ticket</h3>
                        </div>
                        <div class="card-body">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <circle cx="10" cy="20.5" r="1"/><circle cx="18" cy="20.5" r="1"/>
                                <path d="M2.5 2.5h3l2.7 12.4a2 2 0 0 0 2 1.6h7.7a2 2 0 0 0 2-1.6l1.6-8.4H7.1"/></svg>
                        </div>
                    </div>
                    <div class="card my-4 border-secondary text-center">
                        <a class="stretched-link text-decoration-none" href="{{ url_for('buy_tickets') }}"></a>
                        <div class="card-header"  style="background-color: #699DFF">
                            <h3> Buy ticket </h3>
                        </div>
                        <div class="card-body">
                           <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <circle cx="10" cy="20.5" r="1"/><circle cx="18" cy="20.5" r="1"/>
                                <path d="M2.5 2.5h3l2.7 12.4a2 2 0 0 0 2 1.6h7.7a2 2 0 0 0 2-1.6l1.6-8.4H7.1"/></svg>
                        </div>
                    </div>
               </div>
            </div>
        </div>
      </div>
{% endblock %}