{% extends "base.html" %}
{% block title %}Home page{% endblock %}
{% block content %}
      <div class="container-fluid mx-auto">
        <div class="row d-flex justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
                <div class="p-5">
                    <h1> Welcome to homepage!</h1>
                </div>
                <div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="media">
                                    <div class="media-left">
                                        <a class="nav-link" href="/encrypt">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" fill="currentColor" class="bi bi-key-fill" viewBox="0 0 16 16">
                                                <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>                                          </svg>                                    </a>
                                      </div>
                                  <div class="media-body">
                                    <h4 class="media-heading">Encrypt file</h4>
                                    This feature allow user to encrypt a file. The user can select file with the "File" input box. The file is encypted with a random symmetric key. This key is encrypted by RSA assymetric key, provided by the user in the "Public key" input box.
                                    This encypted symmetic key is then put in the output file header.
                                    Lastly the file is encrypted by AES-GCM block cipher. The data needed for AES-GCM decryption are also included in the file header.
                                    Output file is in base64 encoding and can be downloaded by clicking on the link "Download file".
                                </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="media">
                                  <div class="media-left">
                                    <a class="nav-link" href="/decrypt">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" fill="currentColor" class="bi bi-key-fill" viewBox="0 0 16 16">
                                            <path d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2z"  />
                                        </svg>                                    </a>
                                  </div>
                                  <div class="media-body">
                                    <h4 class="media-heading">Decrypt file</h4>
                                    Encrypted files can also be decrypted. User can provide file with the "File" input box. Firstly the information is loaded from the file header to decrypt with AES-GCM. 
                                    If the file is corrupted the process is aborted. Next, the symmetric key from the file header is decrypted by the private key, corresponding to 
                                    public key used to encrypt symmetric key. This private key can be loaded by the "Private key" input box. The output file is in the form of plain text and can be downloaded with the "Download file" link.  
                                  </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="media">
                                  <div class="media-left">
                                    <a class="nav-link" href="/generate">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" fill="currentColor" class="bi bi-key-fill" viewBox="0 0 16 16">
                                            <path d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                                          </svg>                                    </a>
                                  </div>
                                  <div class="media-body">
                                    <h4 class="media-heading">Generate keys</h4>
                                    This website also allows user to generate assymetric key pairs, used to encrypt and decrypt by clicking on the "Generate keys" button. 
                                    Keys can be then downloaded by clicking on the "Download public key" and the "Download public key" buttons.
                                  </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="media">
                                  <div class="media-left">
                                    <a class="nav-link" href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" fill="currentColor" class="bi bi-window" viewBox="0 0 16 16">
                                            <path d="M2.5 4a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zm2-.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm1 .5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
                                            <path d="M2 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2zm13 2v2H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1zM2 14a1 1 0 0 1-1-1V6h14v7a1 1 0 0 1-1 1H2z"/>
                                          </svg>                                  </a>
                                  </div>
                                  <div class="media-body">
                                    <h4 class="media-heading">Application</h4>
                                    The offline application is available, if the user wish not to send his key to the website. It can be used to encrypt, decrypt and generatin RSA key pairs.
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
{% endblock %}