<div>
    {%for ticket in season_tickets %}
        {% set valid_from = (ticket.valid_from).strftime("%d.%m.%Y %H:%M:%S") %}
        {% set valid_to =  (ticket.valid_to).strftime("%d.%m.%Y %H:%M:%S") %}
        {% set valid_to_id =  (ticket.valid_to).strftime("%Y-%m-%d-%H-%M-%S") %}
        {% set time_id =  'time' +  valid_to_id %}
        <div class="row p-2">
            <div class="col-3"> <img src="{{ qrcode(ticket.qr_text) }}" class="img-thumbnail"></div>
            <div class="col-7 text-start p-4">
                <div class="p-1">Status: <span class="time text-success text-secondary" id="{{ time_id }}"></span></div>
                <div class="p-1">Valid from: {{ valid_from }}</div>
                <div class="p-1">Valid to: {{ valid_to }}</div>
                <div class="d-none valid_to" id="{{ valid_to_id }}">{{ ticket.valid_to }}</div>
            </div>
        </div>
    {%endfor%}
</div>