<div id="load_ticket" class="load_ticket">
    {%for ticket in tickets %}
        {% set time =  (ticket.valid_to - now).total_seconds() %}
        {% set sec = time % (24 * 3600) %}
        {% set hour =  sec // 3600 %}
        {% set sec = sec % 3600 %}
        {% set minutes =  sec // 60 %}
        {% set sec = sec % 60 %}
        {% set duration = '{:00.0f}'.format(hour)+':'+'{:00.0f}'.format(minutes)+':'+'{:00.0f}'.format(sec) %}
        {% set valid_from = (ticket.valid_from).strftime("%d.%m.%Y %H:%M:%S") %}
        {% set valid_to =  (ticket.valid_to).strftime("%d.%m.%Y %H:%M:%S") %}
        <div class="row p-2">
            <div class="col-3"> <img src="{{ qrcode(ticket.qr_text) }}" class="img-thumbnail"></div>
            <div class="col-7 text-start p-4">
                <div class="p-1">Status: <span class="text-success">active for {{duration }} </span></div>
                <div class="p-1">Valid from: {{ valid_from }}</div>
                <div class="p-1">Valid to: {{ valid_to }}</div>
            </div>
        </div>
    {%endfor%}
</div>